<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light">
        <link rel="stylesheet" th:href="@{/index/css/index.css}"/>
        <script type="module" th:src="@{/index/js/index.js}"></script>
        <title>Приветствие</title>
    </head>
    <body>
        <div id="text_welcome">Здравствуйте! Вас приветствует система "IDC Rescue"</div>
        <div id="next_container">
            <button id="next">Далее</button>
        </div>
        <div id="text_next">Для продолжения нажмите кнопку далее</div>
        <div id="logo"></div>
    </body>
</html>